@import "../node_modules/bootstrap/scss/bootstrap";
@import "./bootswatch.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
a{
    font-family: 'Pacifico', cursive;
}

.Fgreen {
    background-color: #586f56 ;
}

.Lgreen{
    color: #b2a59a;
}